    <!-- Modal Change Strategy -->
    <div class="modal fade" id="changeStrategyModal" tabindex="-1" aria-labelledby="changeStrategyModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="changeStrategyModalLabel">Change Session Strategy</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <p class="text-danger">Warning: Changing the strategy will reset the session for all users!</p>
            <div id="strategyListLoader" class="text-center">
                 <div class="spinner-border text-primary" role="status">
                    <span class="visually-hidden">Loading...</span>
                  </div>
            </div>
            <select class="form-select d-none" id="strategySelect" aria-label="Select Strategy">
                <option selected disabled>Select a strategy</option>
                <!-- Options will be populated by JS -->
            </select>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
            <button type="button" class="btn btn-primary" id="confirmChangeStrategyBtn" disabled>Apply Strategy & Restart</button>
          </div>
        </div>
      </div>
    </div>
