<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Criar Sessão de Ensino</title>
</head>

<body>
    <h1>Criar Nova Sessão de Ensino</h1>
    <form method="POST">
        <!-- <label for="status">Status:</label>
        <input type="text" id="status" name="status" required><br><br> -->

        <label for="strategy">Estratégia:</label>
        <input type="text" id="strategy" name="strategy" required><br><br>

        <button type="submit">Criar Sessão</button>
    </form>
    <a href="/sessions">Ver todas Sessões</a>
</body>

</html>